<!DOCTYPE html>
<html>
<head>
	<title>Project</title>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href ="profile-page.css">
	
</head>
<body>
	
<div class="oga ctn">
	<h5>My Profile</h5>
	<hr align="left">

	<div class="row">

		<div class="container">

			<div class="left box ">
				
					<div class="top col">

						<div class="top-col-ctn">
						<img src="imgs/avatar.png" id="profile-pic" alt="profile-pic" style="height: 180px; width: 200px;">
					</div>

					</div>
			

					<div class="btm col">

						<div class="btm-col-ctn">

						<label id ="sub"> Subscriptions </label>
						<br>
  							
  							<input type="text" id="subscr-input" placeholder= "0" style="width: 50px; text-align: center;">


						<br><br>
						<label id ="add-sub"> Add a new subscription </label>

						<img src="imgs/plus-icon.png" id="plus-icon" alt="plus-icon" style="height:17px">
						<br>

						<div class = "sub-icons">

							<img src="imgs/applemusic-icon.png" class="applemusic icon" alt="applemusic icon" >

							<img src="imgs/netflix-icon.png" class="netflix icon" alt="netflix icon" style="width: 45px">

							<img src="imgs/prime-icon.png" class="prime icon" alt="prime icon" style=" width: 50px; height: 47px">

							<img src="imgs/spotify-icon.png" class="spotify icon" alt="spotify icon" style="width:33px">

							<img src="imgs/youtube-icon.png" class="youtube icon" alt="youtube icon" style="width: 60px ">

						</div>

						</div>	

					</div>

			</div>

			<div class="right box ">

				<div class="right-box-cont">

				<label class ="name"> Name </label>
				<br>

				<div class="input-group mb-3">	
  				<input type="text" class="form-control" placeholder="lastName firstName" aria-label="name" aria-describedby="basic-addon1" required>
				</div>	

				<label class= "email"> Email </label>
				<br>

				<div class="input-group mb-3">	
  				<input type="text" class="form-control" placeholder=" example@email.com " aria-label="email" aria-describedby="basic-addon1" required>
				</div>

				<label class= "birthday"> Birthday </label>
				<br>

				<div class="input-group mb-3">	
  				<input type="date" class="form-control" aria-label="birthday" aria-describedby="basic-addon1" required>
				</div>

				<label class= "phone"> Phone Number </label>
				<br>

				<div class="input-group mb-3">	
  				<input type="text" class="form-control" aria-label="phone-no" placeholder= "11 digit number" aria-describedby="basic-addon1"required>
				</div>

				<br>

				<!--Bootstrap Button 'Button'-->	
				<input class="btn btn-primary firstbtn" type="button" value="Edit Info">
				
				<!--Bootstrap Button 'Link'-->	
				<a class="btn btn-primary secbtn" href="#" role="button">Go to Group</a>

				</div>	

			</div>

		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



